@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1B98E0;
  --secondary-color: #59c3c3;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Amatic SC";
}

body {
  font-family: var(--primary-font);
  background-color: #fff;
  color: var(--text-dark);
}

header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1rem 0;
  gap: 0.75rem;
  width: 100%;
}

header img {
  width: 7rem;
  height: auto;
}

header h1 {
  font-family: var(--secondary-font), sans-serif;
  font-size: 7rem;
  color: var(--text-dark);
  margin: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 0.75rem 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid #eee;
  width: 100%;
}

.search-form label {
  position: absolute;
  left: -9999px;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  width: 100%;
  max-width: 350px;
  background: white;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.4rem 0.5rem;
}

.search-box button {
  background: none;
  border: none;
  border-left: 1px solid black;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: stretch;
}

.search-box button img {
  width: 13px;
  height: 13px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  max-width: 400px;
  margin: 1rem auto;
}

.recipe-card img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 6px;
  padding: 10px;
}
